.body, html {
  height: 100%;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 2.9vmax;
}
h2 {
  font-size: 1.5vmax;
}
h3 {
  font-size: 1.0vmax;
}

.newsdiv {
  display: flex;
  align-content: center;
  
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.newsdiv img {
  width: 100vw;
  height: 100vh;
  
}
.logo {
  position: absolute;
  top: 2%;
  left: 2%;
  max-width: 10vw;
  max-height: 5vh;
}

.container {
  position: relative;
  text-align: center;
  
  width: 100vw;
  height: 100vh;
}

.textbar{
  position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(74,54,54);
    background: rgba(74,54,54,0.7);
    color: #F8F8F8;
    width: 95vw;
    padding-right: 5vw;
    padding-left: 5vw;
}
